<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "title" %>
  </div>

  <div class="field">
    <%= form.label :public_flag %>
    <%= form.check_box :public_flag %>
  </div>

  <div class="field">
    <%= form.label :active_flag %>
    <%= form.check_box :active_flag %>
  </div>

    <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
