<h1><%= I18n.t('works.display') %></h1>

<%= link_to I18n.t('works.new'), new_work_path, class: "btn btn-primary" %>

<div class = "active_works">
<h2>Active Works</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Public flag</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @active_works.each do |work| %>
        <tr>
          <td><%= work.title %></td>
          <td><%= work.public_flag %></td>
          <td><%= work.user_id %></td>
          <td><%= link_to '技術一覧へ飛ぶ', technologies_path(work), class: "btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_work_path(work), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class = "inactive_works">
<h2>Inactive Works</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Public flag</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @inactive_works.each do |work| %>
        <tr>
          <td><%= work.title %></td>
          <td><%= work.public_flag %></td>
          <td><%= work.user_id %></td>
          <td><%= link_to '技術一覧へ飛ぶ', technologies_path(work), class: "btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_work_path(work), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

