<h1><%= I18n.t('works.display') %></h1>

<%= link_to I18n.t('works.new'), new_work_path, class: "btn btn-primary" %>

<div class = "active_works">
<h2><%= I18n.t('works.active') %></h2>
  <table>
    <thead>
      <tr>
        <th><%= I18n.t('works.title') %></th>
        <th><%= I18n.t('works.public_flag') %></th>
        <td>User</td>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @active_works.each do |work| %>
        <tr>
          <td><%= work.title %></td>
          <td><%= work.public_flag %></td>
          <td><%= work.user_id %></td>
          <td><%= link_to I18n.t('technologies.transition.index'), technologies_path(work), class: "btn btn-success" %></td>
          <td><%= link_to I18n.t('edit'), edit_work_path(work), class: "btn btn-warning" %></td>
          <td><%= link_to I18n.t('destroy'), work, method: :delete, data: { confirm: I18n.t('confirm.destroy') }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class = "inactive_works">
<h2><%= I18n.t('works.inactive') %></h2>
  <table>
    <thead>
      <tr>
        <th><%= I18n.t('works.title') %></th>
        <th><%= I18n.t('works.public_flag') %></th>
        <td>User</td>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @inactive_works.each do |work| %>
        <tr>
          <td><%= work.title %></td>
          <td><%= work.public_flag %></td>
          <td><%= work.user_id %></td>
          <td><%= link_to '技術一覧へ飛ぶ', technologies_path(work), class: "btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_work_path(work), class: "btn btn-warning" %></td>
          <td><%= link_to I18n.t("destroy"), work, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

