<p id="notice"><%= notice %></p>

<h1>Pyramids</h1>

<p><%= link_to 'New Technology', new_technology_path(session[:top_technology_id]), class: "btn btn-primary" %></p>


<div class = "pyramid_wrapper">
  <div class = "pyramid_content">
    <div class = "hierarchy-1">
      <span id = "top_technology" class = " top-technology technology-box border border-denger">
        <%= @top_technology.name %>
      </span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class = "hierarcky-2">
      <% counter = 1 %>
      <% @first_hierarckies.each do |technology| %>
          <% unless technology == nil %>
            <div class = "technology-2-parent">
              <%= link_to "#{technology.name}", links_path(technology), id: "element2-#{counter} " , class: "technology-2 border border-primary", data:{upper_technologies: technology.upper_technologies.ids} %>
            </div>
            <% counter += 1 %>
          <% end %>
      <% end %>
    </div>
    <br>
    <br>
    <br>

    <div class = "hierarcky-3" >
      <% @second_hierarckies.each do |technology| %>
        <% unless technology == nil %>
            <div id= "element-3" class = "second-technology-line">
              <%= link_to "#{technology.name}", links_path(technology), id: "technology1", class: "border border-secondary", data:{upper_technologies: technology.upper_technologies.ids} %>
            </div>
        <% end %>
      <% end %>
    </div>
    
    <% @third_hierarckies.each do |technology| %>
      <% unless technology == nil %>
        <div class = "third-technology-line">
          <%= link_to "#{technology.name}", links_path(technology), class: "border border-success", data:{upper_technologies: technology.upper_technologies.ids} %>
        </div>
      <% end %>
    <% end %>
    
    <% @fourth_hierarckies.each do |technology| %>
      <% unless technology == nil %>
        <div class = "fourth-technology-line">
          <%= link_to "#{technology.name}", links_path(technology), class: "border border-warning" %>
          <%# <%= link_to 'ピラミッドリレーションを編集する', edit_technology_path(technology) %> %>
          <%# <%= link_to 'Destroy', pyramid_path(technology), method: :delete, data: { confirm: 'Are you sure?' } %> %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
<%= javascript_pack_tag 'pyramid', 'data-turbolinks-track': 'reload' %>
