<p id="notice"><%= notice %></p>

<h1>Pyramids</h1>

<p><%= link_to 'New Technology', new_technology_path(session[:top_technology_id]) %></p>
<p><%= @top_technology.name %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lower_technologies.each do |lower_technology| %>
      <tr>
      <% unless lower_technology.upper_technology == nil %>
        <td><%= lower_technology.upper_technology.name %></td>
        <td><%= link_to '技術の中身を見る', links_path(lower_technology) %></td>
        <td><%= link_to 'ピラミッドリレーションを編集する', edit_technology_path(lower_technology.upper_technology) %></td>
        <td><%= link_to 'Destroy', pyramid_path(lower_technology), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Pyramid', new_pyramid_path %> %>
