<p id="notice"><%= notice %></p>

<h1>Pyramids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= link_to "#{Technology.find(session[:technology_id]).name}",links_path(session[:technology_id]) %>
  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= technology.name %></td>
        <td><%= link_to '技術の中身を見る', links_path(technology) %></td>
        <td><%= link_to 'ピラミッドリレーションを編集する', edit_technology_path(technology) %></td>
        <td><%= link_to 'Destroy', technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <%= link_to 'New Pyramid', new_pyramid_path %> %>
