<p id="notice"><%= notice %></p>

<h1>Pyramids</h1>

<p><%= link_to 'New Technology', new_technology_path(session[:top_technology_id]), class: "btn btn-primary" %></p>

<div class = "pyramid_wrapper">
  <div class = "pyramid_content">
    <div class = "hierarchy-1">
      <span id = "top_technology" class = " top-technology technology-box border border-denger", data-lower-technologies = "<%= @top_technology.lower_technologies.ids %>" >
        <%= @top_technology.name %>
      </span>
    </div>
    <br>

    <div id = "hierarcky-2">
            <%# <div class = "technology-2-parent"> %>
      <% counter = 1 %>
      <% @first_hierarckies.each do |technology| %>
          <% unless technology == nil %>
              <%= link_to "#{technology.name}", links_path(technology), id: "element2-#{counter}" , class: "technology-2 border border-primary", data:{lower_technologies: technology.lower_technologies.ids} %>
            <% counter += 1 %>
          <% end %>
      <% end %>
            <%# </div> %>
    </div>

    <div id = "hierarcky-3" >
      <% @second_hierarckies.each do |technology| %>
        <% unless technology == nil %>
              <%= link_to "#{technology.name}", links_path(technology), id: "technology1", class: "border border-secondary", data:{lower_technologies: technology.lower_technologies.ids} %>
        <% end %>
      <% end %>
    </div>

    <div id = "hierarcky-4" >
      <% @third_hierarckies.each do |technology| %>
        <% unless technology == nil %>
            <%= link_to "#{technology.name}", links_path(technology), class: "border border-success", data:{lower_technologies: technology.lower_technologies.ids} %>
        <% end %>
      <% end %>
    </div>
    
    <div id = "hierarcky-5" >
      <% @fourth_hierarckies.each do |technology| %>
        <% unless technology == nil %>
            <%= link_to "#{technology.name}", links_path(technology), class: "border border-warning" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
<%= javascript_pack_tag 'pyramid', 'data-turbolinks-track': 'reload' %>
