<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pyramid.name %>
</p>

<p>
  <strong>Public flag:</strong>
  <%= @pyramid.public_flag %>
</p>

<p>
  <strong>Technology:</strong>
  <%= @pyramid.technology_id %>
</p>

<%= link_to 'Edit', edit_pyramid_path(@pyramid) %> |
<%= link_to 'Back', pyramids_path %>
