<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation" class = "alert alert-danger">
      <h2><%= pluralize(link.errors.count, I18n.t("error.display")) %> <%= I18n.t("error.save") %></h2>

      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :good_counter %>
    <%= form.number_field :good_counter %>
  </div>

  <div class="field">
    <%= form.label :technology_id %>
    <%= form.text_field :technology_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
