<h1><%= I18n.t('links.show') %></h1>

<div class = "show-content">
  <p>
    <strong><%= I18n.t("links.title") %>:</strong>
    <%= @link.title %>
  </p>
  
  <p>
    <strong><%= I18n.t('links.url') %>:</strong>
    <%= link_to "#{@link.url}", @link.url, class: 'link-url' %>
  </p>
  
  <div class = "show-link-word">
    <%= link_to I18n.t("edit"), edit_work_technology_link_path(@work, @technology, @link) %> |
    <%= link_to I18n.t("back"), work_technology_links_path(@work, @technology) %>
  </div>
</div>
