<p id="notice"><%= notice %></p>

<h1>Searches</h1>

<%= search_form_for @q, url: searches_index_path do |f| %>
      <%= f.label :title_cont, 'ワーク名' %>
      <%= f.search_field :title_cont %>
      <%= f.submit '検索' %>
    <% end %>

<table>
  <thead>
    <tr>
      <th>Works</th>
      <th>User</th>
      <th>Favorite</th>
      <th>Import</th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_link_path %>