<h1><%= I18n.t('searches.page') %></h1>

<%= search_form_for @q, url: searches_path do |f| %>
  <%= f.label :title_cont, I18n.t('works.name') %>
  <%= f.search_field :title_cont %>
  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('works.display') %></th>
      <th><%= I18n.t('users.display') %></th>
      <th><%= I18n.t('favorites.display') %></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= link_to "#{work.title}", technologies_path(work) %></td>
        <td>
        <% if current_user == work.user %>
          <%= work.user.name %>
        <% else %>
          <% if current_user.favorites.find_by(favorite_id: work.user.id).present? %>
            <%= link_to "#{work.user.name}", search_path(work.user), method: :delete,class:"btn btn-success" unless current_user == work.user %>
          <% else %>
            <%= link_to "#{work.user.name}", searches_path(work.user), method: :post,class:"btn btn-secondary" unless current_user == work.user %>
          <% end %>
        <% end %>
        </td>
        <td>
          <%= work.user.favorited.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>