<h1><%= I18n.t('searches.page') %></h1>
<p class = "explanation">
  気になるワークを検索して他のユーザーが作ったワークの内容を見てみよう！<br>
  気になったユーザーはお気に入り登録もできるよ！
</p>
<%= search_form_for @q, url: searches_path do |f| %>
  <%= f.label :title_cont, I18n.t('works.name') %>
  <%= f.search_field :title_cont, placeholder: "検索キーワード" %>
  <%= f.submit '検索', class: 'btn btn-primary' %>
<% end %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th><%= I18n.t('works.display') %></th>
      <th><%= I18n.t('users.display') %></th>
      <th><%= I18n.t('favorites.button') %></th>
      <th><%= I18n.t('favorites.display') %></th>
    </tr>
  </thead>
  <tbody class = "search-result-table">
  <% searched_word = @q.conditions.first.value %>
    <% if @works.present? %>
      <% @works.each do |work| %>
        <tr class = "table-warning">
          <% work_owner = work.user %>
          <td><%= link_to "#{work.title}", technologies_path(work) %></td>
          <td><%= work_owner.name %></td>
          <td>
            <% unless current_user == work_owner %>
              <% if current_user.favorites.find_by(favorite_id: work_owner.id) %>
                <%# お気に入り登録済の場合 %>
                <%= link_to image_tag("hart.png", class:"favorite-button"), favorite_unregister_searches_path(
                  {user_id: work_owner.id, q: {title_cont: searched_word}}
                )
              %>
              <% else %>
                <%# お気に入り未登録の場合 %>
                <%= link_to image_tag("black_hart.png", class:"favorite-button"), favorite_register_searches_path(
                  {user_id: work_owner.id, q: {title_cont: searched_word}}
                )
                %>
              <% end %>
            <% else %>
              <span class = "favorite-button">-</span>
            <% end %>
          </td>
          <td>
            <%= work_owner.favorite.count %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>