<%= form_with(model: technology, local: true) do |form| %>
  <% if technology.errors.any? %>
    <div id="error_explanation" class = "alert alert-danger">
      <h2><%= pluralize(technology.errors.count, I18n.t('error')) %> <%= I18n.t('error.save') %></h2>
      <ul>
        <% technology.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: I18n.t('technologies.name') %>
  </div>

  <div class="field">
    <%= form.label :public_flag %>
    <%= form.check_box :public_flag %>
  </div>

  <div class="field">
    <%= form.label :basic_flag %>
    <%= form.check_box :basic_flag %>
  </div>
  
  <div class="field">
    <%= form.label :to_upper_technology %>
    <%= form.select :upper_technology_id, Technology.where(work_id: session[:work_id]).pluck(:name, :id).to_h %>
  </div>

  <div class="field">
    <%= form.fields_for :hierarckies do |hierarcky| %>
      <%= hierarcky.label :to_lower_technology %>
      <%= hierarcky.select :lower_technology_id, Technology.where(work_id: session[:work_id]).pluck(:name, :id).to_h %>
    <% end %>
  </div>

  <div class="field">
    <%= form.hidden_field :work_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
