<%= form_with(model: technology, local: true) do |form| %>
  <% if technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technology.errors.count, "error") %> prohibited this technology from being saved:</h2>
      <ul>
        <% technology.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "technology name" %>
  </div>

  <div class="field">
    <%= form.label :public_flag %>
    <%= form.check_box :public_flag %>
  </div>

  <div class="field">
    <%= form.label :basic_flag %>
    <%= form.check_box :basic_flag %>
  </div>
  
  <div class="field">
    <%= form.label :to_upper_technology %>
    <%= form.select :upper_technology_id, Technology.technologies %>
  </div>

  <div class="field">
    <%= form.fields_for :hierarckies do |hierarcky| %>
      <%= hierarcky.label :to_lower_technology %>
      <%= hierarcky.select :lower_technology_id, Technology.technologies %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :work_id %>
    <%= form.text_field :work_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
