<%= form_with(model: technology, local: true) do |form| %>
  <% if technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technology.errors.count, "error") %> prohibited this technology from being saved:</h2>

      <ul>
        <% technology.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :public_flag %>
    <%= form.check_box :public_flag %>
  </div>

  <div class="field">
    <%= form.label :upper_technology %>
    <%= form.number_field :upper_technology %>
  </div>

  <div class="field">
    <%= form.label :lower_technology %>
    <%= form.number_field :lower_technology %>
  </div>

  <div class="field">
    <%= form.label :basic_flag %>
    <%= form.number_field :basic_flag %>
  </div>

  <div class="field">
    <%= form.label :work_id %>
    <%= form.text_field :work_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
