<h1><%= I18n.t('technologies.show') %></h1>

<div class = "show-content">
  <p>
    <strong>Name:</strong>
    <%= @technology.name %>
  </p>

  <p>
    <strong>Public flag:</strong>
    <%= @technology.public_flag %>
  </p>

  <p>
    <strong>lower_technologies:</strong>
    <% @technology.lower_technologies.each do |technology|%>
      <p><%= technology.name %></p>
    <% end %>
  </p>

  <div class = "show-link-word">
    <% if session[:before_controller_path] == 'pyramids' %>
      <%= link_to I18n.t("edit"), edit_technology_path(session[:top_technology_id]) %> |
      <%= link_to I18n.t("back"), pyramids_path(session[:top_technology_id]) %>
    <% else %>
      <%= link_to I18n.t("edit"), edit_work_technology_path(@work, @technology)  %>|
      <%= link_to I18n.t("back"), work_technologies_path(@work) %>
    <% end %>
  </div>
</div>