<!DOCTYPE html>
<html>
  <head>
    <title>TechnologyPyramid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = " navbar navbar-light" style="background-color: #e3f2fd;>
      <% if user_signed_in? %>
        <%= link_to image_tag("logo.png"), my_pages_path %>
        <%= link_to "マイページ", my_pages_path %>
        <%= link_to "マイワーク", works_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      <% end %>
    </div>


  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= yield %>
    <footer class="my-5 p-3 text-center bg-secondary">
    <p class="mb-1">&copy; 2022~ Aono Co.,Ltd</p>
    <ul class="list-inline">
      <!-- <li class="list-inline-item"><a href="#">Privacy</a></li> -->
      <li class="list-inline-item"><a href="#">プライバシー</a></li>
      <!-- <li class="list-inline-item"><a href="#">Terms</a></li> -->
      <li class="list-inline-item"><a href="#">利用規約</a></li>
      <!-- <li class="list-inline-item"><a href="#">Support</a></li> -->
      <li class="list-inline-item"><a href="#">サポート</a></li>
    </ul>
  </footer>
  </body>
</html>
