<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('technology_pyramid') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('logo.png') %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9364dadfa7.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class = " navbar navbar-light" style="background-color: #e3f2fd";>
        <% if user_signed_in? %>
          <%= link_to image_tag("logo.png", class: 'icon' ), my_pages_path %>
          <%= link_to "管理者用ページ", rails_admin_path if current_user.admin == true %>
          <%= link_to I18n.t('my_page'), my_pages_path %>
          <%= link_to I18n.t('my_work'), works_path %>
          <%= link_to I18n.t('logout'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= image_tag("logo.png", class: 'icon' ) %>
          <%= link_to I18n.t('login_display'), new_user_session_path %>
          <%= link_to I18n.t('new_account'), new_user_registration_path %>
        <% end %>
      </div>
    </header>
    <div class = "wrapper">
      <% if notice %>
        <p class= 'alert alert-notice alert-success'><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <footer class=" text-center bg-secondary">
      <p>&copy; 2022~ Aono Co.,Ltd</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#"><%= I18n.t('privacy')%></a></li>
        <li class="list-inline-item"><a href="#"><%= I18n.t('terms_of_service')%></a></li>
        <li class="list-inline-item"><a href="#"><%= I18n.t('support')%></a></li>
      </ul>
    </footer>
  </body>
</html>
